$module: 'button';
.#{$module} {

  @include hpmInlineBlock(middle);
  width: 100%;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  color: $c_white;
  background: transparentize($c_white, .78);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 16px 24px;
  margin: 20px 0 0 0;

  transition: $t_medium_animation hpmEasing('outSine');

  &:hover {
    background: linear-gradient(90deg, #3ab03e, #0089d0);
  }
}