$module: 'container';
.#{$module} {

  @include hpmInlineBlock();
  width: 100%;

  &__title {
    display: block;
    color: $c_white;
    font-size: 1.8rem;
    line-height: 110%;
    margin: 1.2rem 0 1.2rem 0;
    text-align: center;

    svg {
      @include hpmInlineBlock();
      max-height: 40px;
    }
  }

  &__max-width {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }

  &--result {
    padding: 0 20px;
  }
}