$module: 'input';
.#{$module} {

  position: relative;
  margin-top: 1rem;

  &__el {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparentize($c_white, .5);
    color: transparentize($c_white, .5);
    border-radius: 0;
    outline: none;
    //height: 3rem;
    width: 100%;
    font-size: 1.6rem;
    margin: 0 0 20px 0;
    //padding: 0;
    box-shadow: none;
    transition: $t_medium_animation hpmEasing('outSine');
    padding: 12px 0;

    option {
      color: $c_black;
    }

    &:focus {
      color: $c_white;
      border-color: $c_white;
    }

    @include hpmPlaceholder(true) {
      color: $c_silver_chalice;
    }
  }
}