$module: 'tabs';
.#{$module} {

  &__menu {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    white-space: nowrap;
  }

  &__tab {
    @include hpmButtonReset();
    text-align: center;
    line-height: 48px;
    height: 48px;
    margin: 0;
    text-transform: uppercase;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.75;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: $c_white;
    transition: $t_medium_animation hpmEasing('outSine');

    &:hover {
      opacity: 1;
    }

    &.is-active {
      opacity: 1;
      border-color: $c_white;
    }
  }

  &__contents {

  }

  &__content {
    display: none;
    padding: 0.75rem;

    &.is-active {
      display: block;
    }
  }
}